<style>
/* Mobile header adjustments */
@media (max-width: 991px) {
  #topNav {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Keep hamburger on left */
  .navbar-toggler {
    order: 1;
  }
  
  /* Center the brand name */
  .navbar-brand {
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Center social icons below */
  #topNav > .nav.justify-content-end {
    order: 3;
    width: 100%;
    justify-content: center !important;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  /* Collapsed menu */
  #navbarNav {
    order: 4;
    width: 100%;
  }
}
</style>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="topNav">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="icono-hamburger" id="navbar-hamburger"> </span>
  </button>
  <a class="navbar-brand" href="/">{{ site.title }}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% for i in site.urls %}
      <li class="nav-item">
        
          class="nav-link"
          href="{{ site.url }}{{ site.baseurl }}{{ i.url }}"
          >{{ i.text }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Right side nav: Search, Social, Theme Toggle -->
  <ul class="nav justify-content-end">
    
    <!-- GitHub -->
    {% if site.github_username %}
    <li class="nav-item">
      <a class="nav-link social-link" href="https://github.com/{{ site.github_username }}" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    {% endif %}
    
    <!-- LinkedIn -->
    {% if site.linkedin_username %}
    <li class="nav-item">
      <a class="nav-link social-link" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    {% endif %}
    
    <!-- Instagram -->
    {% if site.instagram_username %}
    <li class="nav-item">
      <a class="nav-link social-link" href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    {% endif %}
    
    <!-- Search Icon -->
    <!-- <li class="nav-item">