<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: none !important; /* Remove the old background */
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative; /* Important for positioning */
    overflow: hidden; /* Contain the canvas */
    min-height: 500px; /* Ensure it has height */
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <!-- Three.js background inside jumbotron -->
  {%- include threejs-hero-background.html -%}
  
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">Hi, I am {{site.author}} !</p>

  <p class="lead" id="typewriteText"></p>
  <!-- uncomment/modify buttons as you want-->
  <div class="jumbotron-btns">
    <a href="{{site.url}}{{site.baseurl}}/projects">
      <button class="btn btn-md btn-warning"> <strong>Projects</strong> </button>
    </a>
  </div>
</div>