---
layout: default
title: Year 1
permalink: /projects/year1/
---

<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <!-- Back button -->
      <a href="{{ '/projects/' | relative_url }}"
         class="btn btn-outline-secondary mb-4">
        ← Back to Projects
      </a>

      <ul>
        <div class="row">
          {% assign year1_projects = site.projects | where: "category", "year1" %}
          {% for project in year1_projects %}
          <div class="card blog-post mb-4">
            {% if project.thumbnail %}
            <img class="card-img-top"
                 src="{{ site.url }}{{ site.baseurl }}{{ project.thumbnail }}"
                 alt="{{ project.title }}">
            {% endif %}
            <div class="card-body center">
              <h4 class="card-title">{{ project.title }}</h4>
              {% if project.date %}
              <h6 class="card-subtitle mb-2 text-muted">
                {{ project.date | date: "%b %-d, %Y" }}
              </h6>
              {% endif %}
              {% if project.summary %}
              <p class="card-text">{{ project.summary }}</p>
              {% endif %}
              <a href="{{ project.url | prepend: site.baseurl }}"
                 class="btn btn-dark btn-lg">Read</a>
              <span class="disqus-comment-count"
                    data-disqus-identifier="{{ project.url }}"></span>
            </div>
          </div>
          {% endfor %}
        </div>
      </ul>

      {% if paginator and paginator.total_pages > 1 %}
      <div class="row center">
        {% include pagination.html %}
      </div>
      {% endif %}

    </div>
    {%- include blog_sidebar.html -%}
  </div>
</div>
